/*
 * Globals
 */
html,
body {
  height: 100%;
}
body {
  font-family: 'Computer Modern Serif', Georgia, "Times New Roman", Times, serif;
  color: #555;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: 'Computer Modern Serif', Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #333;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
pre {
  border: 0px !important;
  border-radius: 0px !important;
  overflow-x: auto;
  color: #eff1f5;
  background-color: #343d46;
}
pre code {
  overflow-wrap: normal;
  white-space: pre;
}
a:link,
a:active,
a:visited {
  color: #7d7d7d;
}
a:hover {
  color: #ff0000;
  text-decoration: none;
}
.wrapper {
  min-height: 100%;
}
.wrapper .wrapper-content {
  overflow: auto;
  padding-bottom: 150px;
}
.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 140px;
  margin-top: -140px;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  color: #999;
  padding: 40px 0;
}
/*
 * Masthead for nav
 */
.blog-masthead {
  float: right;
  padding-top: 50px;
}
.blog-masthead .blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.blog-masthead .blog-nav-item:hover,
.blog-masthead .blog-nav-item:focus {
  color: #ff0000;
  text-decoration: none;
}
.blog-masthead .blog-nav-item.active {
  color: #ff0000;
  font-style: italic;
}
.header {
  margin-bottom: 40px;
}
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: normal;
}
.blog-title a:link,
.blog-title a:active,
.blog-title a:visited {
  color: #000000;
}
.blog-title a:hover {
  color: #ff0000;
}
.blog-description {
  font-size: 20px;
  color: #999;
}
/*
 * Main column and sidebar layout
 */
.blog-main {
  font-size: 16px;
  line-height: 1.5;
}
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border: 0;
  border-radius: 0;
  color: #7d7d7d;
}
.pager > li > a:hover {
  background-color: transparent;
  color: #ff0000;
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 26px;
}
.blog-post-title a:link,
.blog-post-title a:active,
.blog-post-title a:visited {
  color: #000;
}
.blog-post-title a:hover {
  color: #ff0000;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */
/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #8a6d3b;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #34789a;
}
