        <div class="col-md-3 blog-sidebar">

          <div class="sidebar-module">
            <h4>Topics</h4>
            <ul class="list-unstyled">
            {% for cat in site.categories %}
              <li><a href="/category/{{ cat[0] }}.html">{{ cat[0] | capitalize }}</a></li>
            {% endfor %}
            </ul>
          </div>

          <div class="sidebar-module">
            <h4>Read More</h4>
            <ul class="list-unstyled">
              <li><a href="/feed.xml">RSS Feed</a></li>
              <li><a href="/archive.html">Blog Archive</a></li>
            </ul>
          </div>

          <div class="sidebar-module">
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li>
                <a href="mailto:david@davidzchen.com">
                  <i class="fa fa-envelope"></i> david@davidzchen.com
                </a>
              </li>
              <li>
                <a href="https://github.com/davidzchen" target="_blank">
                  <i class="fa fa-github"></i> davidzchen
                </a>
              </li>
              <li>
                <a href="https://twitter.com/finitybeyond" target="_blank">
                  <i class="fa fa-twitter"></i> @finitybeyond
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/in/davidzchen" target="_blank">
                  <i class="fa fa-linkedin"></i> in/davidzchen
                </a>
              </li>
              <li>
                <a href="https://instagram.com/davidzchen" target="_blank">
                  <i class="fa fa-instagram"></i> davidzchen
                </a>
              </li>
            </ul>
          </div>

        </div><!-- /.blog-sidebar -->

