        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">

          <div class="sidebar-module">
            <h4>Topics</h4>
            <ul class="list-unstyled">
            {% for cat in site.categories %}
              <li><a href="/category/{{ cat[0] }}.html">{{ cat[0] | capitalize }}</a></li>
            {% endfor %}
            </ul>
          </div>

          <div class="sidebar-module">
            <h4>Read More</h4>
            <ul class="list-unstyled">
              <li><a href="/feed.xml">RSS Feed</a></li>
              <li><a href="/archive.html">Blog Archive</a></li>
            </ul>
          </div>

          <div class="sidebar-module">
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/davidzchen" target="_blank">GitHub</a></li>
              <li><a href="https://twitter.com/finitybeyond" target="_blank">Twitter</a></li>
              <li><a href="https://www.linkedin.com/in/davidzchen" target="_blank">LinkedIn</a></li>
            </ul>
          </div>

        </div><!-- /.blog-sidebar -->

