      <div class="row">
        <div class="col-md-12">
          <div class="blog-title">
            <h1><a href="/">David Z. Chen</a></h1>
          </div>
          <nav class="blog-nav">
            <a class="blog-nav-item{% if page.nav == "home" %} active{% endif %}" href="/">Home</a>
            <a class="blog-nav-item{% if page.nav == "projects" %} active{% endif %}" href="projects.html">Projects</a>
            <a class="blog-nav-item{% if page.nav == "about" %} active{% endif %}" href="about.html">About</a>
          </nav>
        </div>
      </div>
