/*
 * Globals
 */

html,
body {
  height: 100%;
}

body {
  font-family: $body-font-family;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: $body-font-family;
  font-weight: 400;
  color: #333;
  margin: 40px 0 15px 0;
}

p {
  margin-bottom: 15px;
}

pre {
  margin-bottom: 15px;
  border: 0px !important;
  border-radius: 0px !important;
  overflow-x: auto;
  color: $pre-foreground-color;
  background-color: $pre-background-color;
  font-family: $block-code-font-family;
  padding: 20px;

  code {
    overflow-wrap: normal;
    white-space: pre;
  }
}

code {
  font-family: $inline-code-font-family;
  background: transparent;
  font-size: 14px;
  color: $code-color;
  padding: 0px;
}

.highlight > pre > code {
  font-family: $block-code-font-family;
}

.page-header {
  border: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

a {
  &:link,
  &:active,
  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-active-color;
    text-decoration: none;
  }
}

.wrapper {
  min-height: 100%;

  .wrapper-content {
    overflow: auto;
    padding-bottom: 140px;
  }
}

.pager-wrapper {
  background-color: $pager-bg-color;

  .pager {
    margin: 0;
    text-align: left;

    > li > a {
      width: 50%;
      padding: 25px 20px;
      text-align: center;
      border: 0;
      border-radius: 0;
      color: $pager-link-color;
      background-color: $pager-bg-color;

      &:hover {
        background-color: $pager-hover-bg-color;
        color: $pager-link-hover-color;
      }
    }
  }
}

.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 140px;
  margin-top: -140px;
  text-align: center;

  background-color: $footer-bg-color;
  color: $footer-color;
  padding: 40px 0;

  a {
    &:link,
    &:active,
    &:visited {
      color: $footer-link-color;
    }

    &:hover {
      color: $footer-link-active-color;
    }
  }
}

