$body-font-family: 'Computer Modern Serif', Georgia, "Times New Roman",
                   Times, serif;
$inline-code-font-family: 'Computer Modern Typewriter', monospace;
$block-code-font-family: 'Liberation Mono', monospace;

$header-bg-color: #37474f;
$header-color: #ECEFF1;
$header-active-color: #81D4FA;

$pre-background-color: #343d46;
$pre-foreground-color: #eff1f5;
//$pre-background-color: #eff1f5;
//$pre-foreground-color: #2b303b;

$code-color: #8fa1b3;

$link-color: #0277BD;
$link-active-color: #03A9F4;

$pager-bg-color: #455A64;
$pager-hover-bg-color: #546E7A;
$pager-link-color: #eceff1;
$pager-link-hover-color: #81d4fa;

$footer-bg-color: #37474F;
$footer-color: #ECEFF1;
$footer-link-color: #B3E5FC;
$footer-link-active-color: #4FC3F7;

$sidebar-link-color: #7d7d7d;
$sidebar-module-color: #E1F5FE;
