<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-content">
        {% include title.html %}

        <div class="blog-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                {{ content }}
              </div><!-- /.blog-main -->
              {% include sidebar.html %}
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div>

      </div><!-- /.wrapper-content -->
    </div><!-- /.wrapper -->

    {% include footer.html %}
  </body>
</html>
