{% include header.html %}

    <div class="wrapper">
      <div class="wrapper-content">
        {% include title.html %}

        <div class="blog-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <div class="blog-post">
                  <div class="blog-post-title">
                    <h1>{{ page.title }}</h1>
                    <p class="blog-post-meta">
                      {{ page.date | date_to_string }}
                      in
                      {% for category in page.categories %}
                        <a href="/category/{{ category }}.html">{{ category }}</a>
                      {% endfor %}
                    </p>
                  </div>
                  {{ content }}
                </div>
              </div><!-- /.blog-main -->
              {% include sidebar.html %}
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div>

      </div><!-- /.wrapper-content -->
    </div><!-- /.wrapper -->

{% include footer.html %}

